.mask{
    width: 100%;
    height: 100vh;
    position: relative;
}
.into-img{
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mask::before{
    content: "";
    background: url("https://images.unsplash.com/photo-1564951434112-64d74cc2a2d7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3087&q=80");
    background-size: cover;
    background-position: center top;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    
}

.hero{
    height: 100%;
    width: 100%;
}

.hero .content{
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    text-align: center;
    padding: 0rem, 2rem, 0rem;
}

.hero .content h1{
    font-size: 4rem;
    color: white;
    padding: 0.6rem 0 1.5rem;
}
.hero .content p{
    color: white;
    font-size: 2rem;
}
.content .btn{
    margin: 1rem 0.4rem;
}




@media screen and (max-width:768px) {

    .hero .content{
        top: 50%;
    }
    .hero .content p {
        font-size: 1.5rem;
    }
    .hero .content h1{
        font-size: 3rem;
        
    }

    .btn,.btn-light{
        padding: 10px 26px;
        font-size: 1rem;
    }
    
    
}



@media screen and (max-width:414px){
    .hero .content{
        top: 50%;
    }
    .hero .content p {
        font-size: 1.9rem;
    }
    .hero .content h1{
        line-height: 1;
        font-size: 3.5rem;
        
    }

    .btn,.btn-light{
        padding: 12px 18px;
        font-size: 0.9rem;
    }
    
    
}


@media screen and (max-width:340px){

    .hero .content{
        top: 50%;
    }
    .hero .content p {
        font-size: 1.5rem;
    }
    .hero .content h1{
        line-height: 2.9rem;
        font-size: 3rem;
        
    }

    .btn,.btn-light{
        padding: 10px 14px;
        font-size: .8rem;
    }
}